@config "../tailwind.config.js";
@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";


/* Balloon floating animation */

@keyframes floatUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}

.float-up {
    animation: floatUp 5s linear forwards;
}


/* Balloon bursting animation */

@keyframes burst {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.4);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.burst {
    animation: burst 0.4s ease-out forwards;
}